#graph-column {
  padding: 0;
  min-height: 50vh;
}


#graph-column > div {
  display: inline;
  position: absolute;
  padding: 0 !important;
}

#graph-column > div > div {
  display:inline-block;
}

div#root {
  height:100vh;
  width:100vw;
}

div#borderRow {
  height: calc(100% - 2px)
}

body {
  overflow-x: hidden
}

 /*Medium devices (tablets, 768px and up)*/

div.mobileOnly {
  display: none !important;
}

@media (max-width: 768px) {

  div.responsive-fill-block {
    min-height: 100px;
    max-height: 400px;
    position: relative !important;
    overflow-y: auto;
  }
  nav#bestiaryPagination {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  div#graph-column {
    max-height: 100vw !important;
    min-height: 80vw !important;
    margin-top: .5rem
  }
  div.encounterButtons {
    margin-bottom: .5rem;
  }
  div.mobileOnly {
    display: block !important
  }
  div.mobileHide {
    display: none !important
  }

}